{% extends 'base.html.twig' %}

{% block title %}{{ '$.list.incompatible_light_sources' | trans }}{% endblock %}

{% block content %}

    <section class="t-section" id="">
        <div class="o-content-modul   ">
            <div class="container">
                <div class="row  _justify-center">
                    {#                    <div class="col col-12 col-sm-12 col-lg-8 col-xl-6">#}
                    <div class="col">
                        <h3 class="headline -size-large -bold sub_gray">{{ ballast.productName }} - {{ ballast.refNo }}</h3>
{#                        <div class="-wrapper">#}

                        <div class="-wrapper wrapper-relative">

                            <p class="important_text">{{ '$.messages.important_info' | trans | nl2br }}</p>

                            <label for="packaging_information">
                                <h3 class="headline -size-small -medium">{{ '$.list.incompatible_light_sources' | trans }}</h3>
                                {#                                <a href="{{ path('compatible_light:sources', { 'id': lightSource.id }) }}" class="show-more-button sort-button" id="sort-by-brand" >Sort by brand</a>#}
                            </label>

                            <div class="-body">
                                <div class="o-table-modul">
                                    <div class="m-tables -is-highlight">
                                        <div class="a-table " data-require="clickableTableRow">
                                            <table id="packaging-information">
                                                <thead>
                                                    <tr>
                                                        <th>{{ '$.product.product_name' | trans }}</th>
                                                        <th>{{ '$.product.ean' | trans }}</th>
                                                        <th>{{ '$.product.bc' | trans }}</th>
                                                        <th>{{ '$.product.luminous_flux' | trans }}</th>
                                                        <th>{{ '$.product.lifetime' | trans }}</th>
                                                        <th>{{ '$.product.shatterproof' | trans }}</th>
                                                        <th>{{ '$.product.guarantee' | trans }}</th>
                                                        <th>{{ '$.product.power' | trans }}</th>
                                                        <th>{{ '$.product.color_temperature' | trans }}</th>

{#                                                        <th></th>#}
                                                        {#                                                    <th>L*</th>#}
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                {% set empty_text = "N/A" %}

                                                {% for lightSource in lightSources %}

                                                    {% set remark = checkRemarks(lightSource, ballast, app.request.locale)  %}

                                                    <tr data-id="{{ lightSource.id }}">
                                                        <td>{{ lightSource.productName }}</td>
                                                        <td>{% if lightSource.ean %}{{ lightSource.ean }}{% else %}
                                                                {{ empty_text }}{% endif %}</td>
                                                        <td class="basicCodeList" title="{{ '$.messages.tooltip_msg' | trans }}">{% if lightSource.basicCode %}{{ lightSource.basicCode }}{% else %}
                                                                {{ empty_text }}{% endif %}</td>
                                                        <td>{% if lightSource.luminousFlux %}{{ lightSource.luminousFlux }} lm{% else %}
                                                                {{ empty_text }}{% endif %}</td>
                                                        <td>{% if lightSource.lifetime %}{{ findLifetime(lightSource.lifetime) }}{% else %}
                                                                {{ empty_text }}{% endif %}</td>
                                                        <td>{% if lightSource.shatterproof %}{{ '$.yes_no.yes' | trans }}{% else %}
                                                                {{ '$.yes_no.no' | trans }}{% endif %}</td>
                                                        <td>{% if lightSource.guarantee %}{{ findGuarantee(lightSource.guarantee) | trans }}{% else %}
                                                                {{ empty_text }}{% endif %}</td>
                                                        <td>{% if lightSource.power %}{{ findWattage(lightSource.power) }}{% else %}
                                                                {{ empty_text }}{% endif %}</td>
                                                        <td>{% if lightSource.colorTemperature %}{{ findColorTemperature(lightSource.colorTemperature) }}{% else %}
                                                                {{ empty_text }}{% endif %}</td>
{#                                                        <td style="width:180px;"><a href="{{ path('create_pdf', {id: lightSource.id}) }}" class="sub_donwload_link" target="_blank">{{ '$.buttons.downloadPdf' | trans }}</a></td>#}
                                                    </tr>
                                                    {% if remark %}
                                                        <tr>
                                                            <td colspan="10" style="padding: 0.3rem 0.3rem 0.3rem 1rem; text-align: left; font-size: 10px; border-top: 1px #FFFFFF solid;">ยง {{ remark }}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            </table>
                                        </div>
{#                                        <a class="a-link -is-button uncompatible" title="" href="{{ path('incompatible_light_sources', { 'id': ballast.id }) }}">#}
{#                                            <span class="caption">Incompatible light sources</span>#}
{#                                        </a>#}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
